<div class="container" *ngIf="trainingList">
  <div class="panel panel-primary">
      <div class="panel-heading">
         <div class="panel-body">
            <span *ngFor="let t of trainingList._embedded.trainings">
                 <button (click)="onGetStudent(t)" class="btn btn-primary">{{t.name}}</button>
            </span>
            <p></p>
            <table class="table">
              <tr>
                <th>firstName</th>
                <th>secondName</th>
                <th>date</th>
              </tr>
               <tr *ngFor="let student of  studentList._embedded.students">
                  <td>{{student.firstName}}</td>
                  <td>{{student.lastName}}</td>
                  <td>{{student.dateNaissance}}</td>
               </tr>
            </table>
         </div>
      </div>
  </div>

</div>